*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 1.81em;
    align-items: center;
}
header nav{
    width: 30%;
}
header ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 100%;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
footer{
    background-color: black;
    color: white;
    padding: 0.5em;
}
ol{
    text-align: center;
    list-style: number;
}